:root {
    --clr-background-primary: #424242;
    --clr-text-primary: #eee;
}
body {
    height: 100vh;
    /* background-color: var(--clr-background-primary); */
    overflow-x: hidden;
    margin: 0;
    font-family: sans-serif;

    /* color: var(--clr-text-primary); */
}
body * {
    border: 0px solid #000;
}
.nav {
    position: relative;
    margin-inline: auto;
    width: 90vw;
    border: 1px solid #000;
    display: flex;
    margin-bottom: 1rem;
}
#logo {
    margin: 0;
    height: 2rem;
    width: 2rem;
    object-fit: cover;
    padding-inline: .5rem;
    flex: .1;
}
.page {
    margin: 0;
    display: grid;
    place-content: center;
    flex: 1;
}
i {
    flex: .1;
    font-size: 2rem;
    height: fit-content;
    width: fit-content;
    padding-inline: .5rem;
    border: 1px solid #000;
    display: grid;
    place-content: center;
    margin: 0;
}
/* END OF NAV */

.pipes {
    width: 100%;
}
.quarters {
    width: 90%;
    margin-bottom: .5rem;
    margin-inline: auto;
    height: fit-content;
    display: flex;
    gap: 1vmax;
}
.quarter {
    margin: 0;
    padding: .2rem;
    border: 1px solid #000;
    border-radius: 2px;
    flex: 1;
    text-align: center;
}

/* END OF QUARTERS */

.carousel {
    width: 100vw;
    margin: 0;
    display: flex;
    overflow-x: scroll;
    gap: 3vmin;
}
.carousel.pipeline {
    margin-bottom: 2rem;
}
.card {
    min-width: 200px;
    width: 40vw;
    background-color: hsla(240, 14%, 96%, 0.785);
    height: fit-content;
    border: 1px solid #111;
    padding: 0.2rem;
    border-radius: 3px;
    color: #333;
}
.img {
    position: relative;
    width: 100%;
    height: 40vh;
    border-radius: 5px;
}
.img img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title {
    width: 95%;
    font-size: clamp(1.5rem, 3vw, 7em);
    font-weight: bold;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    margin: 0;
    margin-block: .7rem;
}
.platform {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 1vmin;
    padding: 0.2rem;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: hsla(228, 6%, 84%, 0.615);
    overflow-x: scroll;
}
:is(.carousel, .platform)::-webkit-scrollbar {
    display: none;
}
.studio {
    border-radius: 3px;
    font-size: clamp(.8rem, 1rem, 1.5rem);
    padding: 0.3rem;
    box-sizing: border-box;
    width: fit-content;
    height: 100%;
    display: grid;
    place-items: center;
}
.platform {
    width: fit-content;
}
.platform img {
    position: relative;
    margin: 0;
    height: clamp(1.5rem, 13vh, 15%); /*min(1.5rem, 20vh)*/
    width: clamp(1.5rem, 13vh, 15%);
    aspect-ratio: 1 / 1;
    border-radius: 3px;
    object-fit: cover;
}

/* BEGIN OF SEARCH SECTION */
.search {
    width: 100vw;
    margin-inline: auto;
    margin-block: .5rem;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 2vmin;
}
#search {
    padding-left: .5rem;
    margin-inline: auto;
    outline: none;
    border-radius: 3px;
    width: 90%;
    border: 1px solid black;
    height: 2rem;
    margin-bottom: .8rem;
}
.genres {
    overflow-x: scroll;
    padding-block: 0.2rem;
    display: flex;
    gap: 1vmax;
    margin-bottom: .6rem;
}
.genres::-webkit-scrollbar {
    display: none;
}
.genre {
    border: 1px solid #777;
    min-width: fit-content;
    margin: 0 !important;
    padding: .3rem .5rem;
    background-color: #fff;
    border-radius: 3px;
}
.genre:first-child {
    position: sticky;
    left: 0;
}

/*  BEGIN OF FOOTER  */

.footer  {
    width: 100vw;
    margin: 0;
    margin-top: 1rem;
    overflow: hidden;
    padding: .6rem;
    margin-inline: auto;
    border: 0px solid blue;
}
.socials {
    display: flex;
    border: 0px solid red;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.socials img {
    height: 8vmax; /*min(1.5rem, 20vh)*/
    width: 8vmax;
    border-radius: 3px;
    object-fit: cover;
}
.company-infomation {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 5rem);
    gap: 1rem;
}
.company-infomation a {
    border: 1px solid black;
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: grid;
    color: #333;
    text-align: center;
    place-content: center;
    text-decoration: none;
}